.breadcrumb-breadcrumb-item-variant-dropdown-state-default,
.breadcrumb-breadcrumb-item-variant-dropdown-state-default * {
  box-sizing: border-box;
}
.breadcrumb-breadcrumb-item-variant-dropdown-state-default {
  border-radius: var(--border-radius-rounded-xs, 2px);
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1, 4px);
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.breadcrumb-breadcrumb-item-variant-dropdown-state-default .dropdown-menu-text {
  color: var(--base-muted-foreground, #737373);
  text-align: left;
  font-family: var(
    --text-sm-leading-normal-normal-font-family,
    "Geist-Regular",
    sans-serif
  );
  font-size: var(--text-sm-leading-normal-normal-font-size, 14px);
  line-height: var(--text-sm-leading-normal-normal-line-height, 20px);
  font-weight: var(--text-sm-leading-normal-normal-font-weight, 400);
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.breadcrumb-breadcrumb-item-variant-dropdown-state-default
  .icon-chevron-down-instance {
  flex-shrink: 0 !important;
  width: 15px !important;
  height: 15px !important;
}
